/.vscode
/animation.html
/arrays.js
/attribute.css
/bulb-off.jpg
/bulb-on.jpg
/bulb.html
/canva.css
/canva.html
/classes.js
/classes_arrays.html
/college.css
/college.html
/college.jpg
/crud.html
/css_transition.html
/demoJS.html
/demo_site.html
/desk.jpg
/div_layers.html
/dom_manipulation.html
/first.css
/flex.html
/flexbox_challenge1.html
/flex_challenge2.html
/flex_challenge3.html
/flower.jpg
/flower2.jpg
/flower3.jpg
/flower4.jpg
/flower5.jpg
/font.css
/font.html
/function.js
/grid.html
/grid1.html
/grid2.html
/image.jpg.png
/image2.png
/js.css
/js.java
/list_table.html
/logo.jpg
/loops.js
/loops_js.html
/objects.js
/responsiveness.html
/scope.js
/selectors.css
/strings.js