header{
    color: rgb(42, 45, 195);
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    font-family: cursive;
    
}
body{
    font-family: cursive;
    margin: 15px 30px;
    font-size: large;
    padding: 10px 30px 10px 15px;
    border: 2px solid #c5c0c0;
    border-radius: 5px;
    
    
   
   
    
}
input[type="text"],
input[type="address"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="password"],
select,textarea{
    width: 100%;
    padding: 10px;
    margin: 2px;
    background-color: rgba(204, 208, 208, 0.349);
    border-radius: 5px;
   
}


input[type="submit"]{
    width: 100%;
    padding: 10px;
    margin:2px;
    font-family: cursive;
    background-color: rgb(107, 236, 107);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgb(40, 136, 40);
}
